<nav class="navbar" role="navigation" aria-label="main navigation">
  <div id="navbarBasic" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">Accueil</a>
    </div>
  </div>
</nav>
<section class="section">
  <div class="container">
    <div class="column">
      <h1 class="title is-1">Projet Multiplication</h1>
    </div>
    <form [formGroup]="numberForm" (ngSubmit)="recupNb()">
      <div class="field">
          <label class="label">chiffre</label>
          <div class="control">
                  <input class="input is-success" formControlName="nombre" type="number" placeholder="Nombre :">
          </div>
      </div>
      <div class="field is-grouped">
          <div class="control">
              <button class="button is-link">Soumettre</button>
          </div>
      </div>
  </form>
    <app-table-multiplication [nbUser]='nbUser'></app-table-multiplication>
  <form [formGroup]="tableForm" (ngSubmit)="recupTab()">
    <div class="field">
        <label class="label">Table</label>
        <div class="control">
                <input class="input is-success" formControlName="table" type="number" placeholder="Nombre de tables:">
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Soumettre</button>
        </div>
    </div>
    </form>
    <app-tables-multiplication [nbTable]='nbTable'></app-tables-multiplication>
  </div>
</section>
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Template réalisé à partir du framework CSS <a href="https://bulma.io">Bulma</a>
      </p>
    </div>
  </div>
</footer>